<div class="container">
    <p class="h1 mt-5 mx-auto text-center" style="width: 300px;">編輯料號</p>
    <form action="/products" method="POST" class="w-50 mx-auto mt-5">
        <div class="mb-3">
            <label for="customerPN" class="form-label">客戶料號</label>
            <input type="text" class="form-control" id="customerPN" name="customerPN" placeholder="請輸入客戶料號">
        </div>
        <div class="mb-3">
            <label for="spec" class="form-label">規格</label>
            <input type="text" class="form-control" id="spec" name="spec" placeholder="請輸入規格">
        </div>
        <div class="mb-3">
            <label for="CTIPN" class="form-label">公司料號</label>
            <input type="text" class="form-control" id="CTIPN" name="CTIPN" placeholder="請輸入公司料號">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">單價</label>
            <input type="text" class="form-control" id="price" name="price" placeholder="請輸入單價">
        </div>
        <button type="submit" class="btn btn-primary">新增</button>
    </form>
</div>